.ListaRestaurantes {
  margin-top: 1.5rem;
  padding: 2rem;
  .BoxTitle {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-around;
    .Form {
      width: 40%;
      display: flex;
      align-items: center;
      .IconForm {
        position: relative;
        width: 80%;
        .Input {
          width: 100%;
        }
      }
      .SelectBnt {
        display: flex;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .ListaRestaurantes {
    .BoxTitle {
      flex-direction: column;
      gap: 20px;
      margin-bottom: 50px;
      .Form {
        width: 100%;
        flex-direction: column;
        gap: 20px;
        .IconForm {
          width: 90%;
        }
        .SelectBnt {
          width: 90%;
        }
      }
    }
  }
}

.ViewMoreBnt {
  border-radius: 28px;
  color: #000;
  display: inline-block;
  background: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 500;
  border-color: #000;
  cursor: pointer;
  text-transform: uppercase;
  border-style: solid;
  margin-top: 20px;
  transition: 0.5 ease-in-out;
  &:hover {
    color: #fff;
    background: #f2745f;
    border-color: #f2745f;
    transition: 0.5 ease-in-out;
  }
  &:last-child {
    margin-left: 20px;
  }
  &:disabled {
    border-color: gray;
    color: gray;
    &:hover {
      background: #f2f2f2;
      transition: 0.5 ease-in-out;
    }
  }
}
